@font-face {
    font-family: 'BRRR';
    src: url('BRRR-Medium.eot');
    src: url('BRRR-Medium.eot?#iefix') format('embedded-opentype'),
        url('BRRR-Medium.woff2') format('woff2'),
        url('BRRR-Medium.woff') format('woff'),
        url('BRRR-Medium.ttf') format('truetype'),
        url('BRRR-Medium.svg#BRRR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

